* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #1e1e1e;
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  max-width: 20em;
  min-width: 20em;
  border-radius: 50rem;
  background-color: #1e1e1e;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.722);
  transition: .25s;
  border: 5px solid #f5bf88;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  
  color: #f5bf88;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;

}

h2 {text-align :center;
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
  color: white;}




img {
  position: relative;
  width: 10em;
  height: auto;
  border: 5px solid #f5bf88;
  border-radius: 10em;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  transition: .25s .15s;
}


p { 
  margin: 0;
font-size: 18px;
}

article > p {
  width: 100%;
  margin-top: 0;
  padding: 1rem 2rem;
  border-radius: 0 0 100rem 100rem;
  text-align: center;
  background: #f5bf88;
}

.icon {width: 50px;
  height: 50px; margin-top: 10px}

.custom-link {
  color: #1e1e1e;
  text-decoration: none;
  transition: color 0.3s;
}


.custom-link:hover {
  color: white;
}

#card {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s, border-color 0.5s;

}

#card.flipped {
  transform: rotateX(180deg);}

.flipped {border-color: #1e1e1e;
transition: transform 1.5s, background-color 0.5s; background-color:#f5bf88;}

#card.flipped p {
  background-color: #f5bf88; transition: background-color 0.5s; backface-visibility: hidden}
  
 
#img1 {backface-visibility: hidden;}
h1 {backface-visibility: hidden;}
h2 {backface-visibility: hidden;}
.custom-link {backface-visibility: hidden}
